.pro-text {
  text-align: justify;
}

.pro-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% 0;
}

.exp-img {
  width: 80px;
}

.pro-list {
  list-style-type: disc;
}

a:hover {
  color: #0000ff;
  font-weight: 600;
}

.container {
	background:#fff;
  transition: 0.1s;
  color: #000;
}

.container.dark {
  background: #222020 !important;
  color: #fff !important;
}

.contact-container {
  background: #e2e8f0 !important;
}

.contact-container.dark {
  background: #544a4a !important;
  color: #fff !important;
}

.nav-container {
	background:#fff;
  transition: 0.1s;
  color: #000;
}

.nav-container.dark {
  background: #544a4a !important;
  color: #fff !important;
}